extends ../layout

block content
	div(id='content')
		h1(id='title')
			a(href='/') title
		p(id='page-content') Welcome to #{title}
		img(id='landing-img', alt = 'Jquery Image', src='data:img/png;base64,#{src}', width='500', height='500')
	div.loginbox
		form(id='login-form', name='login', action="users/login", method="post")
			input(id='username-input', type='text', name='user')
			br
			input(id='password-input', type='password', name='password')
			br
			input(id='submit-button', type='submit', value='Login')